.container-nav{
    background: #f8f9fa;
}
.section-fluid{
    height: 100vh;
}
.seccion-inicio{
    background: url(../img/fondo-clinica.png);
    background-size: cover;
    background-position: center;
}
.fondo-prueva{
    background: rgb(207, 207, 207);
}
#servicios i{
    font-size: 50px;
}

.txtunjbg{
    color: #852828;
}
.ir-arriba {
	display:none;
	padding:10px;
	background:#FEC007;
	font-size:30px;
	color:#fff;
	cursor:pointer;
	position: fixed;
	bottom:20px;
	right:20px;
}